.home-container {
  background-color: #f5d0fe;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 20px;
  color: black;
}
.btn {
  background-color: #d946ef;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-left: 8px;
}
.inputandbtn{
  display: flex;
}